@font-face {
  font-family:  Spicy Rice;
  src: 'https://fonts.googleapis.com/css?family=Spicy+Rice';
}

#rainbow {
  font-size: 90px;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 2000px 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: Spicy Rice;

  animation: rainbowMove 5s ease infinite;
}

@keyframes rainbowMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }  
  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
}


.blue h2 {
  color: rgb(89, 128, 207);
  margin-left: 0px;
}

.orange h2 {
  color: rgb(221, 136, 57);
  margin-left: 0px;
}

.green h2 {
  color:rgb(116, 184, 48);
  margin-left: 0px;
}

table, th, tr, td {
  border: solid black;
  border-collapse: collapse;
}

.login {
  border: solid black; 
  width: 150;
  height: 95
}

.purple h2 {
  color:  rgb(203, 132, 237)
}

.section2 {
  color:rgb(77, 199, 203)
}

.rainbow-background {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  width: 165
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
  width: 90
}

#datetime {
  text-align: center;
}
